#all-episodes>h1 {
    font-size: 2.25rem;
    font-weight: 900;
}

#all-episodes-list li {
    margin: 2rem 0;
}
#all-episodes-list li:first-child {
    margin: 0.5rem 0 2rem 0;
}
#all-episodes-list li h1 * {
    font-size: 2rem;
    font-weight: 800;
}
#all-episodes-list li h2 {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
}
#all-episodes-list li p {
    font-size: 1.4rem;
    font-weight: 400;
}