@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');
@font-face {
    font-family: 'Gotham Bold';
    src: url('../../Gotham_Bold.otf');
    font-display: swap;
}

* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

p {
    color: #3D4852;
}

a {
    color: #0070c9;
    text-decoration: none;
}

a:hover {
    color: #65b0f0;
    transition: 0.2s;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    border: 0;
}



/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {

    body {
        margin: 0 0 3rem 0;
    }

}