@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');
@font-face {
    font-family: 'Gotham Bold';
    src: url('./Gotham_Bold.otf');
}


/* Fundamental page styling */
* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Basic page styles */

h1 {
    font-family: 'Gotham Bold', 'Jost', sans-serif;
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

h2.epTitle {
    font-weight: 600;
}

ul {
    list-style: none;
    margin: 0;
    border: 0;
}

li {
    color: #3D4852;
}

.uppercase {
    text-transform: uppercase;
}

p {
    color: #3D4852;
}

img {
    max-width: 100%;
}

.episodeListing {
    margin-bottom: 1.5rem;
}








/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    /* Basic styling */

    .whitespace {
        margin: 2rem 10% 10rem 10%;
        max-width: 80%;
    }

    .title {
        text-align: center;
        font-size: 2.25rem;
        margin-bottom: 1.5rem;
    }

    .title a {
        font-family: 'Gotham Bold', 'Jost', sans-serif;
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

    .archiveList {
        margin: auto 10% auto 10%;
    }

    .mobileShow {
        display: none;
    }

    /* Page layout */

    .twoColumns {
        display: flex;
        flex-wrap: wrap;
    }
    
    .leftColumn {
        flex: 40%;
        max-width: 40%;
        margin: 0 1rem;
    }
    
    .leftColumn * {
        width: 100%;
    }
    
    .rightColumn {
        flex: 50%;
        max-width: 50%;
    }
    
    .rightColumn * {
        width: 100%;
    }

    .sidebarLineup {
        background-color: #f0f3f5;
        border-radius: 5px;
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin: 1rem auto 1rem auto;
        text-align: center;
        max-width: max-content;
    }
    
    .sidebarLineup li {
        font-weight: 600;
        font-size: 1.5rem;
        padding: 0.25rem;
    }

    .sidebarLineup li a {
        color: #3D4852;
        text-decoration: none;
    }

    /* Page content */

    .showDescription {
        margin-bottom: 1.5rem;
        font-size: 1.55rem;
    }

    .showDescription a {
        color: #0070c9;
        text-decoration: none;
        font-weight: 600;
    }

    .showDescription a:hover {
        color: #65b0f0;
        transition: 0.2s;
    }

    .recentEpisodes h1 {
        margin-bottom: 0.5rem;
    }
    
    .epTitle {
        margin-bottom: 0.25rem;
    }
    
    .epTitle a {
        color: #0070c9;
        text-decoration: none;
        font-weight: 600;
        border-bottom: 1px solid #0070c9;
        text-transform: uppercase;
        font-size: 1.4rem;
        padding: 0 0.2rem 0 0.2rem;
    }
    
    .epTitle a:hover {
        color: white;
        text-decoration: none;
        font-weight: 600;
        border: none;
        text-transform: uppercase;
        background-color: #0070c9;
        padding: 0 0.2rem 0 0.2rem;
    }
    
    .recentEpisodes h3 {
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    .episodeListing {
        margin-bottom: 1.25rem;
    }
    
    .epDescription {
        font-size: 1.2rem;
    }

    /* Subscription */

    .subscription {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .subscription h2 {
        margin-bottom: 0.75rem;
        font-weight: 600;
    }
    
    .podcastApps {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        display: flex;
        justify-content: space-around;
    }
    
    .podcastApps img {
        width: 3.4rem;
    }
    
    .podcastApps a {
        color: #0070c9;
        text-decoration: none;
    }
    
    .podcastApps a:hover {
        color: #65b0f0;
    }

    /* Episode pages */

    .epTitle {
        margin: auto auto 0.25rem auto;
    }

    h3.publishDate {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    hr.epDivider {
        margin: 3rem auto 3rem auto;
    }

    hr.justTextDivider {
        margin: 1rem auto 1rem auto;
    }

    h3.showNotes {
        font-size: 1.5rem;
        font-weight: 600;
    }



}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    /* Basic styling */

    .whitespace {
        margin: 1rem 1rem 5rem 1rem;
        max-width: 100%;
    }

    .title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .title a {
        font-family: 'Gotham Bold', 'Jost', sans-serif;
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

    .archiveList {
        margin: auto 10% auto 10%;
    }

    .mobileShow {
        display: none;
    }

    /* Page layout */

    .twoColumns {
        display: flex;
        flex-wrap: wrap;
    }
    
    .leftColumn {
        flex: 40%;
        max-width: 40%;
        margin: 0 1rem;
    }
    
    .leftColumn * {
        width: 100%;
    }
    
    .rightColumn {
        flex: 50%;
        max-width: 50%;
    }
    
    .rightColumn * {
        width: 100%;
    }

    .sidebarLineup {
        background-color: #f0f3f5;
        border-radius: 5px;
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin: 1rem auto 1rem auto;
        text-align: center;
        max-width: max-content;
    }
    
    .sidebarLineup li {
        font-weight: 600;
        font-size: 1.5rem;
        padding: 0.25rem;
    }

    .sidebarLineup li a {
        color: #3D4852;
        text-decoration: none;
    }

    /* Page content */

    .showDescription {
        margin-bottom: 1.5rem;
        font-size: 1.55rem;
    }

    .showDescription a {
        color: #0070c9;
        text-decoration: none;
        font-weight: 600;
    }

    .showDescription a:hover {
        color: #65b0f0;
        transition: 0.2s;
    }

    .recentEpisodes h1 {
        margin-bottom: 0.5rem;
    }
    
    .epTitle {
        margin-bottom: 0.25rem;
    }
    
    .epTitle a {
        color: #0070c9;
        text-decoration: none;
        font-weight: 600;
        border-bottom: 1px solid #0070c9;
        text-transform: uppercase;
        font-size: 1.4rem;
        padding: 0 0.2rem 0 0.2rem;
    }
    
    .epTitle a:hover {
        color: white;
        text-decoration: none;
        font-weight: 600;
        border: none;
        text-transform: uppercase;
        background-color: #0070c9;
        padding: 0 0.2rem 0 0.2rem;
    }
    
    .recentEpisodes h3 {
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    .episodeListing {
        margin-bottom: 1.25rem;
    }
    
    .epDescription {
        font-size: 1.2rem;
    }

    /* Subscription */

    .subscription {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .subscription h2 {
        margin-bottom: 0.75rem;
        font-weight: 600;
    }
    
    .podcastApps {
        text-align: center;
        vertical-align: top;
        display: flex;
        justify-content: space-around;
    }
    
    .podcastApps img {
        width: 3.4rem;
        height: 3.4rem;
    }
    
    .podcastApps a {
        color: #0070c9;
        text-decoration: none;
        margin-bottom: 1rem;
    }
    
    .podcastApps a:hover {
        color: #65b0f0;
    }

    /* Episode pages */

    .epTitle {
        margin: auto auto 0.25rem auto;
    }

    h3.publishDate {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    hr.epDivider {
        margin: 3rem auto 3rem auto;
    }

    hr.justTextDivider {
        margin: 1rem auto 1rem auto;
    }

    h3.showNotes {
        font-size: 1.5rem;
        font-weight: 600;
    }




}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {

    /* Basic styling */

    .whitespace {
        margin: 1rem 1rem 5rem 1rem;
        max-width: 100%;
    }

    .title {
        text-align: center;
        font-size: 1.05rem;
        margin-bottom: 1.3rem;
    }

    .title a {
        font-family: 'Gotham Bold', 'Jost', sans-serif;
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

    .mobileHide {
        display: none;
    }

    /* Page layout */
    
    .sidebarLineup {
        background-color: #f0f3f5;
        border-radius: 5px;
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin: 1rem auto 1rem auto;
        text-align: center;
        width: 100%;
    }
    
    .sidebarLineup li {
        font-weight: 600;
        font-size: 1.9rem;
        padding: 0.4rem;
    }

    .sidebarLineup li a {
        color: #3D4852;
        text-decoration: none;
    }

    /* Page content */

    .showDescription {
        margin: 1.5rem auto 2rem auto;
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
    }

    .showDescription a {
        color: #0070c9;
        text-decoration: none;
        font-weight: 600;
    }

    .showDescription a:hover {
        color: #65b0f0;
        transition: 0.2s;
    }

    .recentEpisodes h1 {
        margin-bottom: 0.75rem;
    }
    
    .epTitle {
        margin-bottom: 0.25rem;
    }
    
    .epTitle a {
        color: #0070c9;
        text-decoration: none;
        font-weight: 600;
        border-bottom: 1px solid #0070c9;
        text-transform: uppercase;
        font-size: 1.7rem;
        padding: 0 0.2rem 0 0.2rem;
    }
    
    .epTitle a:hover {
        color: white;
        text-decoration: none;
        font-weight: 600;
        border: none;
        text-transform: uppercase;
        background-color: #0070c9;
        padding: 0 0.2rem 0 0.2rem;
    }
    
    .recentEpisodes h3 {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 0.25rem;
    }
    
    .episodeListing {
        margin-bottom: 1.8rem;
    }
    
    .epDescription {
        font-size: 1.5rem;
    }

    /* Subscription */

    .subscription {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .subscription h2 {
        margin-bottom: 0.75rem;
        font-weight: 600;
        font-size: 1.8rem;
    }
    
    .podcastApps {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .podcastApps img {
        min-width: 4.75rem;
        min-height: 4.75rem;
    }
    
    .podcastApps a {
        color: #0070c9;
        text-decoration: none;
        margin-bottom: 1rem;
    }
    
    .podcastApps a:hover {
        color: #65b0f0;
    }

    /* Episode pages */

    .epTitle {
        margin: auto auto 0.25rem auto;
        font-size: 1.8rem;
    }

    h3.publishDate {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    hr.epDivider {
        margin: 2rem auto 2rem auto;
    }

    hr.justTextDivider {
        margin: 1rem auto 1rem auto;
    }

    h3.showNotes {
        font-size: 1.5rem;
        font-weight: 600;
    }




}

/* ------------------------------ */
/* ------------------------------ */
/* ---- EXTREME MOBILE ONLY ----- */
/* ------------------------------ */
/* ------------------------------ */

@media only screen and (max-width: 350px) {

    /* Basic styling */

    .title {
        text-align: center;
        font-size: 0.85rem;
    }

    /* Page layout */

    .showDescription {
        font-size: 1.45rem;
    }

    /* Page content */

    .epTitle {
        font-size: 1.7rem;
    }

    .epTitle a {
        font-size: 1.5rem;
    }

    .recentEpisodes h3 {
        font-size: 1.2rem;
    }

    .epDescription {
        font-size: 1.3rem;
    }

    /* Subscription */

    .subscription {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .subscription h2 {
        margin-bottom: 0.75rem;
        font-weight: 600;
    }
    
    .podcastApps {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .podcastApps img {
        min-width: 4rem;
        min-height: 4rem;
    }
    
    .podcastApps a {
        color: #0070c9;
        text-decoration: none;
        margin-bottom: 1rem;
    }
    
    .podcastApps a:hover {
        color: #65b0f0;
    }



}