#cover-art {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0.25rem 0.2rem 0.5rem #b8b8b8;
}



/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    #cover-art {
        min-width: 32rem;
        max-width: 32rem;
        min-height: 32rem;
        max-height: 32rem;
        margin: 1.5rem 2rem 1.5rem 2rem;
        float: right;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    #cover-art {
        min-width: 22rem;
        max-width: 22rem;
        min-height: 22rem;
        max-height: 22rem;
        margin: 1rem 2rem 1rem 1rem;
        float: right;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {

    #cover-art {
        max-width: 95%;
        display: flex;
        margin: 1rem auto;
    }

}