#left-pane {
    width: 45%;
    height: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

#left-pane>a>h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: -0.25rem;

    background-image: linear-gradient(90deg,#1666cf, #3ca5eb);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
}
#left-pane>h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.3rem;


    background-image: linear-gradient(45deg,#ebcb3c, #ebae3c, #e29127);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
}
#left-pane>p {
    font-size: 1.5rem;
    font-weight: 700;
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #left-pane {
        width: 100%;
        padding: 0 0.5rem;
        position: relative;
        text-align: center;
    }

    #left-pane>a>h1 {
        font-size: 2.7rem;
        margin: 1rem 0 0 0;
    }
    #left-pane>h2 {
        font-size: 1.9rem;
    }
    #left-pane hr {
        margin: 0.8rem 0 0.5rem 0;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ----- DARK MODE ------ */
/* ---------------------- */
/* ---------------------- */

@media (prefers-color-scheme: dark) {

    #left-pane {
        background-image: linear-gradient(90deg,#000000, #101010);
    }
    
}