#left-pane {
    width: 45%;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

#left-pane>a>h1 {
    font-size: 4rem;
    font-weight: 900;
    background-image: linear-gradient(45deg,#3ca5eb, #1666cf);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: -0.25rem;
}
#left-pane>h2 {
    font-size: 2rem;
    font-weight: 800;
    background-image: linear-gradient(45deg,#ebcb3c, #ebae3c, #e29127);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: block;
    margin-bottom: 0.3rem;
}
#left-pane>p {
    font-size: 1.5rem;
    font-weight: 700;
}