#right-pane {
    width: 55%;
    min-height: 100vh;
    padding: 1rem;
    position: relative;
    left: 45%;
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #right-pane {
        width: 100%;
        min-height: unset;
        padding: 1rem;
        left: 0;
    }

}