#podcast-app-bar {
    margin: 1rem 0;
}

#podcast-app-bar h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

#podcast-app-bar ul {
    display: flex;
    flex-direction: column;
}

#podcast-app-bar li {
    margin: 0.25rem 0 0.6rem 0;
}
#podcast-app-bar li a {
    display: flex;
    width: fit-content;
}
#podcast-app-bar li img {
    width: 3rem;
    height: 3rem;
}
#podcast-app-bar li p {
    margin: auto 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}