#podcast-app-bar {
    display: flex;
    margin: 1rem 0;
}

#podcast-app-bar li {
    margin: 0 1rem;
}
#podcast-app-bar li:first-child {
    margin: 0 1rem 0 0;
}

#podcast-app-bar li img {
    width: 3rem;
}