#podcast-app-bar {
    margin: 1rem 0;
}

#podcast-app-bar h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

#podcast-app-bar ul {
    display: flex;
}

#podcast-app-bar li {
    margin: 0 1rem;
}
#podcast-app-bar li:first-child {
    margin: 0 1rem 0 0;
}

#podcast-app-bar li img {
    width: 3rem;
}