#title {
    max-width: 60%;
    margin: 0 auto 3rem auto;
}

#title h1 {
    font-size: 4rem;
}

/* ---------------------- */
/* ---------------------- */
/* - TABLET AND MOBILE -- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 1299px) {

    #title {
        text-align: center;
        max-width: 100%;
        margin: 0 auto 3rem auto;
    }

}