#feedback-page-info {
    text-align: center;
    margin: 1rem 0;
}
#feedback-page-info h1 {
    line-height: 150%;
}
#feedback-page-info p {
    font-size: 1.2rem;
}

#feedback-form {
    margin: 2rem auto;
    text-align: center;
    max-width: 30%;
}
#feedback-form * {
    display: block;
    margin: 0.25rem auto 1rem auto;
    width: 100%;
}
#feedback-form input, #feedback-form textarea {
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 0.2rem 0.4rem 0.25rem 0.4rem;
    text-align: center;
    outline: none;
}
#feedback-form input[type=text], #feedback-form textarea {
    text-align: left;
    border: 1px solid #455464;
}
#feedback-form textarea {
    height: 10rem;
}
#feedback-form input[type=button] {
    cursor: pointer;
    color: white;
    background-color: #15294e;
    border: none;
    padding-top: 0.225rem;
    padding-bottom: 0.27rem;
    transition: 0.3s ease-in-out;
    -webkit-appearance: none;
}
#feedback-form input[type=button]:hover {
    background-color: #01ab48;
    transition: 0.3s ease-in-out;
}

#loadingSpinner {
    display: block;
    justify-content: center;
    max-width: 3.5rem;
}

#formDone {
    margin: 2rem 0 0 0;
}
#formDone * {
    margin: 0.5rem auto;
}
#formDone img {
    height: 1.8rem;
    width: auto;
}
#formDone h1 {
    font-size: 1.3rem;
}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    #feedback-form {
        max-width: 40%;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {

    #feedback-form {
        max-width: 90%;
    }
    #feedback-form input {
        font-size: 1.2rem;
    }
    
}