#allEpsPageLabel {
    font-size: 1.8rem;
    margin: 1rem;
}

.episodeListing {
    margin-bottom: 3rem;
}
.episodeListing h1 {
    font-size: 1.6rem;
    line-height: 120%;
}
.episodeListing h2 {
    font-size: 1.2rem;
    margin: 0.25rem 0;
}
.episodeListing p {
    font-size: 1.25rem;
}

/* ActionButton */

#actionbutton-container {
    display: inline-block;
    margin-top: 1.2rem;
}
#actionbutton-container a {
    color: white;
    background-color: #1f84ff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.25rem;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0.15rem 0.1rem 0.2rem #bdbdbd;
    transition: 150ms ease-in-out;
}
#actionbutton-container a:hover {
    box-shadow: 0.25rem 0.2rem 0.5rem #b8b8b8;
    transition: 150ms ease-in-out;
}
#action-emoji {
    margin-right: 0.1rem;
}





/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    .episodeListing {
        margin-left: 1rem;
        max-width: 55%;
    }
    .episodeListing h1 {
        width: 85%;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    .episodeListing {
        margin-left: 1rem;
        max-width: 55%;
    }
    .episodeListing h1 {
        width: 85%;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {

    #allEpsPageLabel {
        font-size: 2.1rem;
        text-align: center;
        margin: 2rem 0 1rem 0;
    }

    .episodeListing {
        text-align: center;
    }
    .episodeListing h2 {
        font-size: 1.3rem;
    }
    .episodeListing p {
        font-size: 1.3rem;
    }

}