.actionButtonContainer {
    margin: 1.5rem 0;
}

.actionButton {
    background-color: #15294e;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 0.1rem 0.25rem 0.2rem #8b8b8b;
    transition: 300ms ease-in-out;
}
.actionButton:hover {
    background-color: #0070c9;
    color: white;
    box-shadow: 0.1rem 0.2rem 0.2rem #bdbdbd;
    transition: 300ms ease-in-out;
}