#individual-episode h1 {
    font-size: 2.25rem;
    font-weight: 900;

    background-image: linear-gradient(90deg, #1666cf, #3ca5eb);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
}
#individual-episode h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.3rem;

    background-image: linear-gradient(90deg, #e29127, #ebcb3c);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
}
#individual-episode h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}
#individual-episode p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

#individual-episode #show-notes {
    margin-top: 1.5rem;
}
#individual-episode #show-notes>h1 {
    font-size: 2rem;
    font-weight: 700;

    background-image: linear-gradient(90deg, #e29127, #ebcb3c);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
}
#individual-episode #show-notes li {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.6rem 0;
    width: fit-content;
}