* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.monospace, .monospace * {
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

body {
    padding: 8rem 5%;
    margin: 0 auto 0 auto;
}


h1 {
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 1rem;
}
p>a {
    color: rgb(42, 118, 219);
    font-weight: 600;
}
p>a:hover {
    color: rgb(112, 156, 214);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.section {
    margin-bottom: 3.5rem;
}

.desktopOnly {
    display: block;
}
.mobileOnly {
    display: none;
}

.invisible {
    display: none;
}
.visible {
    display: block;
}

/* ---------------------- */
/* ---------------------- */
/* - TABLET AND MOBILE -- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 1299px) {

    body {
        max-width: 100%;
        padding: 4rem 3%;
        margin: 0 auto;
    }

    .mobileOnly {
        display: block;
    }
    .desktopOnly {
        display: none;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ----- DARK MODE  ----- */
/* ---------------------- */
/* ---------------------- */

@media (prefers-color-scheme: dark) {

    body {
        color: white;
        background-color: rgb(13, 13, 13);
    }

    a {
        color: white;
    }

    p>a {
        color: rgb(255, 56, 82);
    }
    p>a:hover {
        color: rgb(255, 94, 115);
    }

}