@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@font-face {
    font-family: 'Gotham Bold';
    src: url('../src/Gotham_Bold.otf');
    font-display: swap;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    margin-bottom: 6rem;
}

p {
    color: #31383f;
    font-weight: 400;
}

a {
    color: #0070c9;
    text-decoration: none;
}

a:hover {
    color: #65b0f0;
    transition: 0.2s;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    border: 0;
}

.visible {
    display: unset;
}
.invisible {
    display: none;
}

/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    .mobileOnly {
        display: none;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    .mobileOnly {
        display: none;
    }

}



/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {

    body {
        margin: 0 0 3rem 0;
    }

    .desktopOnly {
        display: none;
    }

}
