#nav-container {
    background-color: #15294e;
    padding: 0.5rem 0 0.75rem 0;
    justify-content: space-between;
}

#nav-items {
    display: flex;
    justify-content: center;
}
#nav-items li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: auto 3rem;
}
#nav-items li a {
    color: #e6e6e6;
}
#nav-items li a:hover {
    color: white;
}



/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {

    #nav-container {
        display: block;
        margin: 0 auto;
        padding: 1rem 0.5rem;
    }

    #nav-items li {
        margin: 0 auto;
    }

}