#nav-container {
    margin-bottom: 3.5rem;
}
#nav-container * {
    font-weight: 600;
    color: #455464;
}

#desktop-nav {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(400%) blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#desktop-nav li {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 0.8rem 2rem;
}
#desktop-nav li a {
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: auto -1.25rem;
    padding: 0.6rem 1.25rem;
}
#desktop-nav li:hover a {
    background-image: linear-gradient(45deg,#3ca5eb, #1666cf);
    color: white;
    border-radius: 5px;
    transition: ease-in-out;
}

#mobile-nav {
    display: none;
}




/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {
    
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: block;
        margin: 0 0 1.75rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    #mobile-nav-top {
        display: flex;
    }
    #mobile-nav-top h1 {
        font-size: 1.2rem;
        margin: auto 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    #mobile-nav-top h1 * {
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 95%;
    }

    #menuIcon {
        width: 2rem;
        height: 2rem;
        margin: 1.5rem 1.5rem 1.5rem 1rem;
        opacity: 0.65;
    }
    #menuIcon:hover {
        cursor: pointer;
    }

    #mobile-nav-list {
        font-size: 1.7rem;
    }
    #mobile-nav-list li {
        margin: 0.5rem 0;
    }
    #mobile-nav-list li:last-child {
        padding-bottom: 1rem;
    }
    #mobile-nav-list li a {
        font-weight: 400;
        margin: 0 1.5rem;
    }

}