#episodeInfo {
    margin: 1rem 2rem 0 1rem;
}
#episodeTitle {
    font-size: 1.8rem;
    line-height: 120%;
}
#episodePublishDate {
    font-size: 1.25rem;
    margin: 0.25rem 0;
}
#episodeDescription {
    font-size: 1.35rem;
}

#showNotesTitle {
    font-size: 1.4rem;
    margin: 3rem 0 0.5rem 0;
}
#showNotes-container {
    font-size: 1.1rem;
}
#showNotes-container * {
    margin-bottom: 0.75rem;
}


/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    #episodeTitle {
        margin-bottom: 0.5rem;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 769px) and (max-width: 1299px) {

    #episodeTitle {
        margin-bottom: 0.5rem;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 768px) {

    #episodeInfo {
        margin: 0 3% 2rem 3%;
    }
    #episodeTitle {
        margin: 1.5rem 0 0.75rem 0;
    }
    #episodeStreamLink {
        text-align: center;
    }
    #showNotes-container {
        font-size: 1.3rem;
    }

}